%h1.pt-3 Leaderboard

%table.table.table-striped
  %thead.table-light
    %tr
      %td #
      %td Name
  %tbody.table-group-divider
    - @accounts.each_with_index do |account, index|
      %tr
        - if index == 0
          %td.bi.bi-trophy
        - else
          %td= index + 1
        %td= account.qualified_name
