<div class="flashes">
  <% if flash.any? %>
    <% user_facing_flashes.each do |key, value| -%>
      <div class="flash-<%= key %>"><%= value %></div>
    <% end -%>
  <% end %>

  <div class="flash-from-js">
  </div>
</div>
